
body{
    background-color: rgb(195, 221, 244);  /* color de fondo*/
    color: black; /*color de letra */
    background-image:linear-gradient(#b7dceb, rgb(173, 201, 235));
}

#contenedor{
    width: 90%;
    margin: 5px auto;
    border: 1px rgb(241, 241, 241) inset;
    height: 800px;
}

#cabecera{
    height: 60px;

}

#logo{
    width: 20%;
    float: left;
    border: 1px rgb(94, 10, 10);
}

#navegador{
    width: 79%;
    float: center;
    border: 1px rgb(166, 166, 231) solid;
}

li{
    display: inline-block;
}

li a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: center;
    font-size: 30px;
}

:hover li{
    color: rgb(220, 137, 137);
}