/*selector unieversal*/
/*propiedad: valor*/
*{
    margin: 0px;
    padding: 0px;
}
/* selector del body*/
body{
    background-color: rgb(77, 74, 74); /*color de fondo*/
    color: white; /*color de letra*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*tipo de letra*/
    font-size: 1em; /*em equivale al tamaño actual del que esta 1em=12px*/
}

#contenedor{
    width: 90%; /*lo mejor es usar porcentaje*/
    margin: 5px auto;
    border: 4px silver solid;
    border-radius: 10px; /*para establecer el contorno de un contenedor*/
}

nav{
    background-color: gray;
    text-align: center;
    position: fixed;
    width: 90%;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
}
/*El body es el padre de los estilos pero los hijos pueden tener sus propios estilos*/
nav ul li a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-decoration: none; /*Para quitar el subrayado de las letras*/
}

a:hover{ /*Propiedad para resaltar*/
    color: tomato;
    text-decoration: underline;
}

header{
    margin-top: 40px;
    height: 150px;
    background: silver url("../imgs/cute-anime-girl-pfp-3d-artwork-12i39bravptyd383.jpg"); /*para establecer una imagen de fondo o color de fondo*/
    background-repeat: no-repeat;
    background-size: cover; /*para cubrir todo el ancho de imagen*/
    text-align: center;
    line-height: 150px;
}

h2,h3,h4,h5{
    text-align: center;
    margin: 10px;
}
h3{
    color: rgb(250, 250, 250);
}

p{
    padding: 10px;
    text-align: justify;
    border: 1px silver solid;
    border-radius: 10px;
    margin:  0px 25px;
}

/*se puede poder el antecesor o solo dejar el . y el nombre de la clase*/
.impar{
    color: #a788a7;
    border-top-right-radius: 65px; /*para reducir el valor de las horillas*/
}
.par{
    color: rgb(153, 173, 167);
    padding: 0px 50px;
}
hr{
    margin: 10px auto;
    width: 70%;
    color: silver;
}
#Panel{
    width: 50%;
    margin: 10px auto;
    height: 200px;
    border: 1px silver outset;
    border-radius: 10px;
}
.caja{
    width: 80%;
    height: 20px;
    margin-left: 10%;
}
.altura{
    height: 80px;
}
.boton{
    width: 50%;
    margin-top: 5px;
    background-color: blue;
    color: white;
    margin-left: 25%;
    height: 40px;
    margin-bottom: 10px;
}
#copyright{
    margin-left: 41%;
}
